<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>XMatch Report</title>
	
	<style type="text/css">
		body { background-color: #fff; color: #333; }

		body, p, ol, ul, td {
		  font-family: verdana, arial, helvetica, sans-serif;
		  font-size:   12px;
		  line-height: 18px;
		}
	
		.matched {	background-color: #DBFFB4 }
		.mismatched { background-color: #FA5858 }
		.unmatched { background-color: #FFFBD3 }
	 </style>	
	
</head>

<body>

<h2>XMatch Report</h2>
<p><%= xml.mismatches.size %> mismatches found</p>
<p><a href='<%=expected_filename%>'>Expected xml</a> | <a href='<%=actual_filename%>'>Actual xml</a></p>

<table border="0" cellspacing="2" cellpadding="5">
	<tr>
		<th>Line</th>
		<th>Path</th>
		<th>Mismatch</th>
	</tr>
	<% match_info.each do | match | %>
	<tr class=<%= match.result  %> >
		<td><%= match.line %></td>
		<td><%= match.path %></td>
  		<td><%= match.message || '&nbsp;' %></td>
	</tr>		
	<% end %>
</table>

</body>
</html>
